archives/*
pdfs/*
Artificial Intelligence and Data Engineering for Orbital Systems/Lab-06/ooais-project/results/*.png
Artificial Intelligence and Data Engineering for Orbital Systems/Lab-07/ooais-project/data/*
Artificial Intelligence and Data Engineering for Orbital Systems/Lab-11/ooais-project/data/*
Artificial Intelligence and Data Engineering for Orbital Systems/Lab-11/ooais-project/src/segmentation/__pycache__/*